@import './null.scss';

body {
  font-weight: 400;
  font-size: 16px;
  overflow: hidden;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  margin: 10px 0;
  background: none;
}
body::-webkit-scrollbar-thumb {
  background-color: darken($green, 5%);
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: $lightGreen;
  }
  border-radius: 20px;
}

.q-field__control {
  color: $green !important;
}

.q-field--filled .q-field__control {
  border: 1px solid #d9d9d9;
  background: #ffff !important;
}
